{% extends "base.html" %}
{% load static %}

{% block title %}Каталог книг{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="/books">Каталог</a></h1>
        </div>
        <div class="row">
        {% for book in books %}
            <div class="book col-md-4">
                <h2>{{ book.name }}</h2>
                <p>{{ book.author }}</p>
                <p>{{ book.pub_date }}</p>
            </div>
        {% endfor %}
        </div>
        {% if previous_page %}
            <a class="button button-primary" href="../{{ previous_page }}">⟵ {{ previous_page }}</a>
        {% endif %}
        {% if next_page %}
            <a class="button button-primary" href="../{{ next_page }}">{{ next_page }} ⟶</a>
        {% endif %}
    </div>

{% endblock %}